body{
  background-color: gainsboro;
}
.uni_link{
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  display: block;
  border-bottom: 1px solid black;
}
.links{
  width: 600px;
  margin: 30px auto;
}
.details{
  width: 600px;
  border: 2px solid green;
  padding: 10px;
  border-radius: 10px;
  margin: 30px auto;
  
  font-size: 1.1rem;
}